$calc-black: #1c1c1c;
$calc-orange: #ff9500;
$calc-white: #ffffff;
$calc-grey-light: #d4d4d2;
$calc-grey-dark: #1c1c1c;

$sketch-white: #ffffff;
$sketch-slate-dark: #0f172a;
$sketch-slate: #8d99ae;
$sketch-slate-light: #f8f8ff;
$sketch-grey-light: #f5f5f5;
$sketch-red-light: #fda4af;
$sketch-red: #d90429;

$sound-storm: #13232e;
$sound-jean: #5e7783;
$sound-royalty: #4d1635;
$sound-lavender: #9e9199;
$sound-soft-grey: #d0d1d3;
$sound-purple: #412e45;
$sound-grey-dark: #222222;
