$calc-black: #1c1c1c;
$calc-orange: #ff9500;
$calc-white: #ffffff;
$calc-grey-light: #d4d4d2;
$calc-grey-dark: #1c1c1c;

$sketch-white: #ffffff;
$sketch-slate-dark: #2b2d42;
$sketch-slate: #8d99ae;
$sketch-slate-light: #edf2f4;
$sketch-red-light: #ef233c;
$sketch-red: #d90429;
