body {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

main {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 30rem;
  height: 100%;
  width: 100%;
  aspect-ratio: 9/19.4;
  border-radius: 3rem;
  overflow: hidden;
}
.home img {
  position: absolute;
  top: 0;
  border-radius: 3rem;
  object-fit: cover;
}

.home-dock {
  z-index: 1;
  margin: 1rem;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(225, 225, 255, 0.4);
  border-radius: 2.8rem;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
}
.home-dock__btn {
  height: 80%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  appearance: none;
}

#sketchAppBtn {
  background-color: white;
}
#sketchAppBtn svg {
  height: 3.5rem;
}

#calcAppBtn {
  background-color: black;
}
#calcAppBtn svg {
  height: 4rem;
  fill: white;
}

#soundAppBtn {
  font-size: 3rem;
  background-color: white;
}

.calc {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 30rem;
  aspect-ratio: 9/19.4;
  background-color: black;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.calc--hide {
  display: none;
}

.calc-disp {
  padding: 0rem;
  height: 4rem;
  margin: 1rem 2rem;
  font-size: 2.8rem;
  color: #ffffff;
  overflow: hidden;
}
.calc-disp p {
  float: right;
}

.calc-hist {
  margin: 0rem 2rem;
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 14.9rem;
  overflow-y: auto;
}
.calc-hist__card {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}
.calc-hist__card__calcStr {
  max-width: 10rem;
  font-size: 1.5rem;
}
.calc-hist__card__result {
  font-size: 2.5rem;
  background-color: black;
}

.calc-pad {
  padding: 1rem;
  display: grid;
  gap: 0.7rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calc-pad__btn {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 2rem;
  background-color: #1c1c1c;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.calc-pad__btn:hover {
  filter: brightness(95%);
}
.calc-pad__btn--orange {
  background-color: #ff9500;
  font-size: 2.5rem;
}
.calc-pad__btn--grey {
  background-color: #d4d4d2;
  color: #1c1c1c;
}

.sketch {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  max-width: 30rem;
  aspect-ratio: 9/19.4;
  border: 1px solid black;
  border-radius: 3rem;
  background-color: #ffffff;
  display: block;
}
.sketch--hide {
  display: none;
}

.sketch-board {
  width: 100%;
  aspect-ratio: 9/19;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(38, 1fr);
  border: 2px solid #0f172a;
}

.sketch-palette {
  width: 100%;
  padding: 1rem 1rem;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.sketch-palette button {
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  cursor: pointer;
}

#sketchRedBtn {
  background-color: #f43f5e;
}

#sketchOrangeBtn {
  background-color: #f97316;
}

#sketchYellowBtn {
  background-color: #eab308;
}

#sketchGreenBtn {
  background-color: #22c55e;
}

#sketchBlueBtn {
  background-color: #0ea5e9;
}

#sketchPurpleBtn {
  background-color: #8b5cf6;
}

#sketchBlackBtn {
  background-color: #0f172a;
}

.sketch-menu {
  padding: 1rem 0rem;
  position: relative;
  display: flex;
  gap: 1rem;
  color: #ffffff;
}
.sketch-menu__btn {
  width: 100%;
  padding: 1rem;
  border: 2px solid #0f172a;
  cursor: pointer;
}
.sketch-menu__btn--warn {
  background-color: #fda4af;
  width: 7rem;
}

.sketch-board-wrapper {
  position: relative;
}

.pixel {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid whitesmoke;
}

.home-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}
.home-btn__btn {
  width: 40%;
  height: 4px;
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  opacity: 60%;
  cursor: pointer;
}
.home-btn__btn--dark {
  background-color: #000000;
}

.top-bar {
  z-index: 12;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 1rem 2rem;
  color: white;
  fill: white;
}
.top-bar__time {
  display: flex;
  align-items: center;
  font-size: large;
}
.top-bar__status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.top-bar--dark {
  fill: black;
  color: black;
}

.sound {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 30rem;
  aspect-ratio: 9/19.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #13232e;
  border-radius: 3rem;
  padding-top: 3rem;
}
.sound--hide {
  display: none;
}

.sound-title {
  padding: 2rem 2rem;
}
.sound-title h3 {
  color: white;
  font-size: 3rem;
}

.sound-board {
  height: 100%;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.sound-card {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  background-color: #412e45;
  border-radius: 2rem;
  border: 4px #9e9199 solid;
  cursor: pointer;
}

.phone {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid red;
}
.phone main {
  z-index: 15;
  width: 30rem;
  border: 1rem solid black;
  border-radius: 4.2rem;
}

.header {
  position: absolute;
  top: 0;
  padding: 1rem 0rem 0rem 2.5rem;
}
