body {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.home {
  max-width: 30rem;
  aspect-ratio: 9/19.5;
  border: 1px solid black;
  border-radius: 3rem;
}

.calc {
  max-width: 30rem;
  aspect-ratio: 9/19.5;
  background-color: black;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.calc-disp {
  padding: 0.5rem 1rem;
  font-size: 2.8rem;
  color: #ffffff;
}

.calc-hist {
  padding: 0.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.calc-hist__card {
  font-size: 1.5rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}
.calc-hist__card span {
  font-size: 3rem;
}

.calc-pad {
  padding: 1rem;
  display: grid;
  gap: 0.7rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calc-pad__btn {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 2rem;
  background-color: #1c1c1c;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.calc-pad__btn:hover {
  filter: brightness(95%);
}
.calc-pad__btn--orange {
  background-color: #ff9500;
  font-size: 2.5rem;
}
.calc-pad__btn--grey {
  background-color: #d4d4d2;
  color: #1c1c1c;
}

.sketch {
  padding: 1rem;
  max-width: 30rem;
  aspect-ratio: 9/19.5;
  background-color: black;
  border: 1px solid black;
  border-radius: 3rem;
  background-color: #ffffff;
}

.sketch-disp {
  height: 30rem;
  background-color: white;
  border-radius: 3rem;
}
