@use '../../abstracts';

.sketch {
  padding: 1rem;
  max-width: 30rem;
  aspect-ratio: 9/19.5;
  background-color: black;
  border: 1px solid black;
  border-radius: 3rem;
  background-color: abstracts.$sketch-white;
}
